/* ==========================================================================
=General Styles
========================================================================== */

body {
	background-color: #111;
	color: #aaa;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	margin: 0;
}

.page-sections {
	position: relative;
}

.top-padding {
	padding-top: 5%;
}

a {
  color: #fff;
}

a:hover, a:focus {
	color: #46cdcf;
}

img {
	max-width: 100%;
	height: auto;
}

.current {
	background-color: #46cdcf;
}


/* ==========================================================================
=Typography
========================================================================== */

h1 {
	color: #fff;
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	font-weight: 100;
	line-height: 49px;
}

h2 {
	color: #fff;
	font-family: 'Signika Negative', sans-serif;
	font-size: 34px;
	margin-bottom: 30px;
}

h3 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 40px;
}

p {
	color: #aaa;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: normal;
}


/* ==========================================================================
=welcome-section (Header)
========================================================================== */

#welcome-section {
	background: url(experimentalbackground.jpg) top center no-repeat scroll #111;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	min-height: inherit;
	padding: 40px 10px 60px 10px;
	overflow: hidden;
	width: 100%;
}

.logo {
}

.header-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-bottom: 11%;
}

#top-nav {
	margin-top: 50px;
}
	#top-nav a {
		display: inline-block;
		min-width: 100px;
	}

	#top-nav a:hover,
	#top-nav a:active,
	#top-nav a:focus {
		text-decoration: none;
	}

	#top-nav a:hover .bb-animate {
		background: #46cdcf;
		width: 100%;
	}

	#top-nav img {
		margin-bottom: 10px;
		
	}

	.bb-animate {
		display: block;
		height: 1px;
		width: 0;
		background: rgba(255,255,255,0);
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

#navbar {
	display: none;
	position: fixed;
	z-index: 9999;
	right: 50px;
	top: 50%;
	width: 26px;	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
	#navbar a {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	#navbar a:hover, #navbar .active {
		background-color: #46cdcf;
	}

.menu-links {
	display: inline-block;
	font-size: 15px;
	margin: 13px 0;
	min-width: 16px;
	padding: 10px 20px;
}
	.menu-links:hover, .menu-links:active, .menu-links:focus {
		text-decoration: none;
	}

	.menu-links img {
		min-width: 16px;
	}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* ==========================================================================
=ABOUT SECTION
========================================================================== */

.scoopy {
	background: url(images/artsyimage.jpg) bottom left;
	height: 495px;
	margin-bottom: 10px;
	width: 100%;
}
/*https://himigatliwanag.files.wordpress.com/2016/01/scoopy.jpg*/
.skills {
	margin-bottom: 10px;
}

.skills img {
	margin: 10px;
}

.skills img:first-child {
	margin-left: 0;
}

.description {
	padding: 12px 50px;
	border: 1px solid #4d4d4d;
}


/* ==========================================================================
=PORTFOLIO SECTION
========================================================================== */

#sec3 {
	background: url(https://himigatliwanag.files.wordpress.com/2016/01/milky-way.jpg) top center fixed no-repeat;
	/*background-size: cover;*/
}

.slick-slide img {
	margin: 0 auto;
}

.slick-slide {
	outline: none;
}

.slick-dots li button:before {
	color: #aaa;
}

.slick-dots li.slick-active button:before {
	color: white;
}

.slick-custom-nav {
	margin-top: 20px;
	cursor: pointer;
}

.slick-slide a:focus {
	cursor: move;
}

.prev-slide {
	float: left;
}

.next-slide {
	float: right;
}


/* ==========================================================================
=CONTACT SECTION
========================================================================== */

#sec4 {
	width: 100%;
}

.contact-info {	
	background: url(https://himigatliwanag.files.wordpress.com/2016/01/ocean.jpg) repeat;
	padding: 80px 50px;
}

.contact-info a:hover {
  text-decoration: none;
}

.email-link {
	margin-top: 50px;
}

/* ==========================================================================
=FOOTER SECTION
========================================================================== */

footer {
	position: absolute;
	bottom: 10px;
	left: 15px;
	width: 100%;
}


/*css I took from the gallery to make my gallery work*/

/*plsgod pls make the images get bigger*/
.row > .column {
	padding: 0 8px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
	float: left;
	width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
background-color:  black;
	margin: auto;
	padding: 0;
	width: 50%;
	max-width: 1200px;
	
  }
  
  /* The Close Button */
  .exitbutton {
	color: white;
	position: absolute;
	top: 13px;
	right: 30px;
	font-size: 50px;
	font-weight: bold;
  }
  
  .exitbutton:hover,
  .exitbutton:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
	display: none;
	max-width:50em;
	max-height:50em
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-left:-9em;
	margin-right:-7.5em;
	padding: 1em;
	margin-top: -4em;
	color: white;
	font-weight: bold;
	font-size: 2em;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Caption text */
  .caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
  }
  
  img.demo {
	opacity: 0.6;
	width:10%;
	height:10%;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  
  img.hover-shadow {
	transition: 0.3s;
  }
  
  .hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @media only screen and ( max-width: 991px ) {
	.slick-custom-nav {
	    margin-top: 0;
	    cursor: pointer;
	}
}

@media only screen and ( max-width: 930px ) {

#navbar {
		position: fixed;
		bottom: -1px;
		right: auto;
		top: auto;
		width: 100%;
  		height: 45px;
  		transform: none;
  		text-align: center;
  		background-color: #3F3F3F;
}
	#navbar a {
		display: inline-block;
		height: 45px;
		width: 18%;
		margin: 0;
		border: none;
	}
}

@media only screen and ( max-width: 1200px ) {
	.scoopy {
		height: 544px;
	}
	
	.skills img {
	   margin: 10px 5px;
	   height: 29px;
	}
}

@media only screen and ( max-width: 320px ) {
	h1 {
		line-height: 41px;
	}
}

@media only screen and ( max-width: 490px ) {

	.header-info h1 {
		font-size: 30px;
		margin-top:-500px;
	}
	.mySlides {
		display: none;
		max-width:30em;
		max-height:30em
	  }
}


@media only screen and ( max-width: 414px ) {
 	.scoopy {
		height: 300px;
 	}

 	.description {
 		padding: 12px 20px;
 	}
}

@media only screen and ( max-width: 409px ) {
 	.header-info br {
		display: none;
	}
}

@media only screen and ( max-width: 365px ) {
	.email-link h3 {
		font-size: 18px;
	}
}



/* HEIGHT */

@media only screen and ( max-height: 414px ) {
	.header-info {
		margin-bottom: 4%;
	}

	#top-nav {
		margin-top: 40px;
	}

	.scoopy {
		height: 200px;
	}
}

@media only screen and ( max-height: 320px ) {
	.header-info {
		margin-bottom: 3%;
	}

 	.header-info h1 {
		font-size: 20px;
		line-height: 29px;
 	}

 	#top-nav {
		margin-top: 30px;
	}

	.scoopy {
		height: 160px;
	}
}
